@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body {
    background-color: #292929;
    /* overflow: hidden; */
    color: #cfcfcf !important;
}

.content {
    display: flex;
    align-items: stretch;
}

.sidebar {
    width: 20%;
    min-width: 220px;
    border-right: 1px solid #333;
    padding: 20px 10px;
    min-height: 100vh;
    position: relative;
}

.sidebar__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar__head img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar h2 {
    text-align: center;
    font-size: 7.6rem;
    width: 100%;
    font-family: Cookie;
    color: transparent;
    font-weight: normal;
    line-height: 70px;
    background-image: linear-gradient(135deg, #ed55c7, #6756ca);
    background-clip: text;
    -webkit-background-clip: text;
}

.sidebar__list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 10px;
    right: 10px;
}

.sidebar__item {
    padding: 8px 12px;
    /* border: 1px solid #0000000f; */
    box-shadow: 0 0 10px #0000000f;
    border-radius: 4px;
    cursor: pointer;
    background-color: #333;
    font-weight: bold;
}

.sidebar__item.active {
    background-color: transparent;
    background-image: linear-gradient(135deg, #ed55c7, #6756ca);
    color: #eee;
}

.sidebar__item:not(.active):hover {
    background-image: linear-gradient(135deg, #ed55c72a, #6756ca2a);

}

.sidebar__item+.sidebar__item {
    margin-top: 12px;
}

.display {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
    height: 100svh;
    position: relative;
}
#btn__to__top{
    all: unset;
    display: none;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    cursor: pointer;
    border-radius: 4px;
    background-color: #444;
    opacity: .5;
    padding: 0 6px;

    i{
        background-color: transparent;
    }
}
#btn__to__top:hover{
    opacity: 1;
    background-color: transparent;
    background-image: linear-gradient(135deg, #ed55c7, #6756ca);
}
.display__wrapper {
    height: 100%;
    padding-top: 100px;
}

h2.display__title {
    position: absolute;
    top: 0px;
    font-size: 4.6rem;
    color: #eee;
}

.actions {
    position: absolute;
    top: 18px;
    right: 0;
    display: none;
}

.actions__add {
    font-size: 1.6rem;
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #0081ff;
}

.actions__add:hover {
    cursor: pointer;
    background-color: #006fdd;
}

.table__wrapper {
    height: 100%;
    overflow-y: auto;
    border-top: 1px solid #333;
    display: none;


}

.table__wrapper::-webkit-scrollbar {
    width: 1em;
}

.table__wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #0000004d;
}

.table__wrapper::-webkit-scrollbar-thumb {
    background-color: #333;
}

.table__wrapper.active {
    display: block;
    position: relative;
}

.display__wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #333;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: -1px;
}

table,
tr,
th,
td {
    border: 1px solid #333;
}

td:hover{
    background-color: #262626;
    cursor: pointer;
}

.container__col {
    padding: 10px;
    text-align: center;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.container__col i:hover {
    opacity: 0.8;
    cursor: pointer;
}

.fa-solid {
    width: 30px;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #333;
    border-radius: 4px;
}

.fa-pen-to-square {
    color: #0081ff;
}

.fa-trash {
    color: #cc0000;
    margin-top: 10px;
}