.content{
    display: flex;   
}

.sidebar{
    width: 20%;
    border-right: 1px solid #ddd;
    padding: 20px;
    min-height: 100vh;
}

.sidebar__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar__head img{
    height: 20px;
    margin-right: 8px;
}

.sidebar h2{
    font-size: 2.4rem;
}

.sidebar__list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.sidebar__item{
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 1px #ddd;
    cursor: pointer;
    background-color: #fff;
    font-weight: 500;
}

.sidebar__item.active{
    background-color: rgb(197, 2, 2);
    color: #fff;
}

.sidebar__item:not(.active):hover{
    box-shadow: 2px 2px 4px 1px #ddd;
    background-color: #e1e1e1

}
.sidebar__item + .sidebar__item{
    margin-top: 12px;
}

.display{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
}

.actions{
    margin-top: 30px;
    display: none;
}

.actions__add{
    font-size: 1.6rem;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 4px;
    outline: none;
    border: none;
    color: #fff;
    background-color: #0081ff;
}
.actions__add:hover{
    cursor: pointer;
    background-color: #006fdd;
}

.container__table{
    margin-top: 20px;
}

.table__wrapper{
    display: none;
    
}
.table__wrapper.active{
    display: flex;
}

table{
    border-collapse: collapse;
    width: 100%;
}

table, tr, th, td{
    border: 1px solid #ddd;
}

.container__col{
    padding: 10px;
    text-align: center;
}

.container__col i:hover{
    opacity: 0.8;
    color: #eac7c7;
    cursor: pointer;
}