.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: flex; */
  display: none;
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0000009a;
  z-index: 2;
}

.modal-container {
  margin: 0 auto;
  padding: 150px 0;
  z-index: 5;
  max-width: 800px;
  width: 100%;
  overflow-y: auto;

  h2 {
    color: #eee;
  }
}

.modal-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal-container::-webkit-scrollbar {
  display: none;
}

.modal__box {
  border-radius: 8px;
  background-image: linear-gradient(135deg, #ed55c71a, #6756ca1a);
  backdrop-filter: blur(50px);
  position: relative;
}

.modal__add,
.modal__edit,
.modal__remove {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  width: calc(50% - 10px);
  /* padding: 8px; */
  margin-top: 12px;
}

.col.id {
  max-width: 30%;
  ;
  width: 100%;
}

.col.col1 {
  width: 100%;
}

.col.col3 {
  width: calc(100% / 3 - 20px);
}

.col select,
.col input,
.col textarea,
.col label {
  font-size: 1.6rem;
  padding: 7px 12px;
  outline: none;
  border: none;
  margin-top: 8px;
  box-sizing: border-box;
  /* min-height: 40px; */
  border-radius: 4px;
  background-color: #3333333a;
  color: #cfcfcf;
  caret-color: rgb(197, 2, 2);
  font-family: 'SVN Poppins';
}

.col label {
  max-width: 100%;
  height: 100%;
  cursor: pointer;
}


.col__image {
  width: 100%;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 3px;
}

textarea {
  resize: none;
}

input[type="file"] {
  display: none;
}

.modal__add__btn,
.modal__edit__btn,
.modal__remove__btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 1.6rem;
  padding: 8px 12px;
  border: unset;
  color: #ddd;
  border-radius: 4px;
  background-color: transparent;
  background-image: linear-gradient(135deg, #ed55c72a, #6756ca2a);
  cursor: pointer;
}

.modal__add__btn:hover,
.modal__edit__btn:hover,
.modal__remove__btn:hover {
  background-image: linear-gradient(135deg, #ed55c7, #6756ca);
}