@font-face {
  font-family: "SVN Poppins";
  src: url(../font/FzPoppins/401SVN-Poppins.woff2) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --bgr-color: #fff;
  --txt-light: #fff;
  --txt-deep-dark: #000;
  --txt-dark: #555;
  --bd-dark: #000;
  --bsd-xss: #0000000a;
  --bsd-xs: #0000001a;
  --bsd-s: #0000002a;
  --bsd-m: #0000003a;
  --bsd-l: #0000004a;
  --bsd-xl: #0000005a;
}
/* header */
.header {
  width: 100%;
  font-family: "SVN Poppins", sans-serif;
  z-index: 10;
}
.header__wrapper {
  position: relative;
  padding: 0 15px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 251, 255, 1) 50%,
    rgba(242, 223, 255, 1) 100%
  );
}
.header__wrapper::before {
  position: fixed;
  content: "";
  top: 100%;
  z-index: 1;
  background: linear-gradient(var(--bsd-xss), transparent);
  height: 10px;
  top: 83px;
  left: 0;
  right: 0;
}

.header__inner {
  max-width: 1200px;
  margin: 0 auto;
  height: 83px;
  display: flex;
}

.header__inner > * {
  flex: 1 0 0;
}

.header__inner__left {
  display: inherit;
  align-items: stretch;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-right: 25px;
  /* padding: 20px 0; */
}

.header__logo img {
  width: 100%;
  height: 45%;
  /* object-fit: cover; */
  max-height: 83px !important;
}

.header__inner__middle {
  display: inherit;
  align-items: center;
  flex: 4;
  display: flex;
}

.nav {
  display: inherit;
  align-items: center;
  gap: 10px;
}

.nav-item {
  display: inherit;
  align-items: stretch;
  position: relative;
  /* cursor: pointer; */
}

.nav-item::before {
  transition: all 0.35s;
  opacity: 0;
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: linear-gradient(135deg, #ed55c7, #6756ca);
}

.nav-item:hover {
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-item:hover.nav-item::before {
  opacity: 1;
}

.nav-link {
  color: #000;
}

.header__inner__right {
  display: inherit;
  align-items: center;
}

.header__right.nav {
  height: 50%;
  align-items: stretch;
}

.header__right .nav-item {
  aspect-ratio: 1/1;
}

.header__right .nav-link {
  margin: 5px;
}

.header__right .nav-item:first-child .nav-link {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--bd-dark);
  border-radius: 6px;
  display: inherit;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.header__right .nav-item:first-child:hover .nav-link {
  -webkit-text-fill-color: var(--txt-light);
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  border: unset;
}

.header__right i {
  font-size: 16px;
}

.nav-link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-link > .img-hover {
  display: none;
}

.header__right.nav-item:hover .nav-link > .img-default {
  display: none;
}

.header__right.nav-item:hover .nav-link > .img-hover {
  display: flex;
}

/* sub menu */
@keyframes subMenuOpacity {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes subMenuOpacity2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-item.current-dropdown > .sub__menu {
  display: unset;
  opacity: 0;
  /* animation: subMenuOpacity .35s ease ; */
  animation: subMenuOpacity 0.35s ease 0.1s forwards;
}
.sub__menu {
  display: none;
  position: fixed;
  top: 83px;
  left: 0;
  right: 0;
  -webkit-text-fill-color: var(--txt-deep-dark);
  border: 2px solid var(--bsd-xss);
}
.sub__menu__wrapper {
  position: relative;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub__menu__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--bgr-color);
  z-index: -1;
}
.sub__menu__dropdown {
  max-width: 1200px;
  margin: 0 -30px;
  display: flex;
}
.sub__menu__dropdown.animation {
  animation: subMenuOpacity2 0.4s ease forwards;
}
.menu__dropdown__col {
  padding: 0 30px 30px 30px;
  width: calc(100% / 4);
}
.col-1 {
}
.col-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.col-2 {
}
.col__menu {
}
.col__menu-item {
  padding: 6px 0;
}
.item-highlight {
  font-size: 18px;
  font-weight: bold;
}
.col__menu-link {
  color: var(--txt-deep-dark);
}
.col__menu-item:hover > .col__menu-link {
  background: linear-gradient(135deg, #ed55c7, #6756ca);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.col-3 {
}
.col-4 {
}

/* container */

.container {
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  width: 100%;
}

.banner__list {
  display: flex;
  overflow: hidden;
  position: relative;
  /* animation: 4s;
  scroll-behavior: smooth; */
  height: 549px;
}

.banner__list__img {
  position: absolute;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  transition: left 0.4s ease;
}

.banner__list__img.img1 {
  left: 0;
}

.banner__list__img.img2 {
  left: 100%;
}

.banner > i {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 36px;
  height: 36px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 5;
}

.banner > i:hover {
  background-color: rgb(180, 7, 206);
  border-color: rgb(180, 7, 206);
  transition: 0.8s;
}

.banner .fa-angle-left {
  left: 20px;
  padding-right: 2px;
}
.banner .fa-angle-right {
  padding-left: 2px;
  right: 20px;
}

.banner__control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 54px;
  z-index: 5;
}

.banner__control__outline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: 1px solid #bc0516;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.banner__control__outline.active {
  border: 1px solid transparent;
}
.banner__control__outline.active .banner__control__inner {
  background-color: #fff;
}

.banner__control__outline + .banner__control__outline {
  /* margin-left: 8px; */
}

.banner__control__inner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bc0516;
}

.criterion {
  display: flex;
}

.criterion__list {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  display: flex;
  padding: 20px 0;
}

.criterion__items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.criterion__items + .criterion__items {
  border-left: 1px solid #333;
}

.criterion__items__title {
  color: #0a0a0a;
  font-size: 20px;
  font-weight: 700;
}

.criterion__items__text {
  color: rgb(35, 35, 35);
  font-size: 16px;
}

/* category */
.category {
  background-color: #efefef;
  padding: 32px 0;
}

.category__content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category__title {
  color: #0a0a0a;
  font-weight: 600;
}

.category__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category__items {
  display: flex;
  align-items: center;
  width: calc(100% / 4 - 64px);
  background-color: white;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.category__items img {
  width: 50%;
}

.category__items span {
  flex: 1;
  font-weight: 700;
  text-align: center;
}

/* product-diplay */
.diplay__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

.product__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.product__items {
  width: calc(100% / 5 - 40px);
  padding: 20px 0;
}
.product__items img {
  width: 100%;
  border-radius: 8px;
}

.product__items__name {
  color: black;
  font-weight: 500;
  font-size: 20.8px;
  font-size: 16px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__items > div {
  margin-top: 6px;
}

.product__items__price{
  display: flex;
  align-items: center;
}

.product__items__price > span:not(:first-child){
  margin-left: 12px;
}

.product__items__price__cur {
  font-weight: 700;
  font-size: 18px;
  color: rgb(17, 17, 17);
}

.product__items__price__old {
  opacity: 0.6;
  font-weight: 400;
  margin-right: 4px;
  white-space: nowrap;
  color: #111;
  font-weight: 700;
  font-size: 15px;
  text-decoration: line-through;
}

.product__items__price__discount{
  position: relative;
  display: flex;
  text-align: center;
  background-color: rgb(212, 15, 15);
  font-size: 13px;
  font-weight: 700;
  padding: 0px 4px;
  height: 18px;

  color: #fff;
  
}
.product__items__price__discount::before{
  position: absolute;
  right: 100%;
  display: block;
  content: "";
  border-width: 9px;
  border-style: solid;
  border-color: rgb(212, 15, 15);
  border-left-color: transparent;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

/* footer */
#footer {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 279px;
  width: 100%;
  padding: 32px 10px;
}

.footer__items {
  padding: 0 15px;
}

.footer__items img {
  width: 50%;
}

.footer__items--mini-display {
  display: none;
}

.footer__items__mini__title {
  display: block;
  padding: 10px 0;
  border-top: none;
  border-bottom: 1px solid #ddd;
  color: #b407ce;
  font-weight: 700;
}

.footer__items__mini__inner {
  display: flex;
  flex-direction: column;
}

.footer__items__mini__text {
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  .footer__items {
    max-width: calc(100% / 6);
    width: 100%;
  }

  .footer__items:first-child,
  .footer__items:last-child {
    max-width: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
}

@media screen and (max-width: 800px) {
  .footer__items {
    flex: 1 1 45%;
  }

  .footer__items:first-child,
  .footer__items:last-child {
    flex: 1 1 55%;
  }

  .footer__items {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
}

@media (max-width: 549px) {
  .footer__items:not(:first-child) {
    display: none;
  }
  .footer__items--mini-display {
    display: flex;
    flex-direction: column;
  }
}

.footer__items {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.footer__items__descriptions,
.footer__items__social {
  margin-top: 14px;
}

.footer__items span {
  max-width: 400px;
  color: #232323;
  font-size: 16px;
}

.footer__items__social {
  display: flex;
}

.footer__items__title {
  color: rgb(10, 10, 10);
  font-size: 18px;
  font-weight: 900;
}

.footer__items__text {
  margin-top: 14px;
}

/* icon socials */

.footer__items__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.footer__items__social__link i {
  color: #fff;
}

.footer__items__social__link + .footer__items__social__link {
  margin-left: 4px;
}

.footer__items__social__link.facebook {
  background-color: #3a589d;
}

.footer__items__social__link.instagram {
  background-color: #3b6994;
}

.footer__items__social__link.tiktok {
  background-color: #111;
}

.footer__items__social__link.twitter {
  background-color: #2478ba;
}

.footer__items__social__link.youtube {
  background-color: #c33223;
}
