.container {
  display: flex;
  flex-direction: column;
}

.banner {
  position: relative;
  width: 100%;
}

.banner__list {
  display: flex;
  overflow: hidden;
  position: relative;
  /* animation: 4s;
  scroll-behavior: smooth; */
  height: 382.125px;
}

.banner__list__img {
  position: absolute;
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  max-height: 550px;
  object-fit: cover;
  transition: left 0.4s ease;
}

.banner__list__img.img1 {
  left: 0;
}

.banner__list__img.img2 {
  left: 100%;
}

.banner > i {
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 36px;
  height: 36px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 5;
}

.banner > i:hover {
  background-color: rgb(180, 7, 206);
  border-color: rgb(180, 7, 206);
  transition: 0.8s;
}

.banner .fa-angle-left {
  left: 20px;
  padding-right: 2px;
}
.banner .fa-angle-right {
  padding-left: 2px;
  right: 20px;
}

.banner__control {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  width: 54px;
  z-index: 5;
}

.banner__control__outline {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border: 1px solid #bc0516;
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;
}

.banner__control__outline.active {
  border: 1px solid transparent;
}
.banner__control__outline.active .banner__control__inner {
  background-color: #fff;
}

.banner__control__outline + .banner__control__outline {
  /* margin-left: 8px; */
}

.banner__control__inner {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bc0516;
}

/* footer */
#footer {
  display: flex;
  width: 100%;
  background-color: whitesmoke;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  min-height: 279px;
  width: 100%;
  padding: 32px 10px;
}

.footer__items {
  padding: 0 15px;
}
.footer__items img {
  width: 50%;
}

.footer__items--mini-display {
  display: none;
}

.footer__items__mini__title {
  display: block;
  padding: 10px 0;
  border-top: none;
  border-bottom: 1px solid #ddd;
  color: #b407ce;
  font-weight: 700;
}

.footer__items__mini__inner {
  display: flex;
  flex-direction: column;
}

.footer__items__mini__text {
  padding: 10px 0;
  cursor: pointer;
}

@media screen and (min-width: 801px) {
  .footer__items {
    max-width: calc(100% / 6);
    width: 100%;
  }

  .footer__items:first-child,
  .footer__items:last-child {
    max-width: 33.3333333333%;
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
  }
}

@media screen and (max-width: 800px) {
  .footer__items {
    flex: 1 1 45%;
  }
  .footer__items:first-child,
  .footer__items:last-child {
    flex: 1 1 55%;
  }

  .footer__items {
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 550px) {
}

@media (max-width: 549px) {
  .footer__items:not(:first-child) {
    display: none;
  }
  .footer__items--mini-display {
    display: flex;
    flex-direction: column;
  }
}

.footer__items {
  /* flex-grow: 1; */
  display: flex;
  flex-direction: column;
}

.footer__items__descriptions,
.footer__items__social {
  margin-top: 14px;
}

.footer__items span {
  max-width: 400px;
  color: #232323;
  font-size: 16px;
}

.footer__items__social {
  display: flex;
}

.footer__items__title {
  color: rgb(10, 10, 10);
  font-size: 18px;
  font-weight: 900;
}

.footer__items__text {
  margin-top: 14px;
}

/* icon socials */

.footer__items__social a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.footer__items__social__link i {
  color: #fff;
}

.footer__items__social__link + .footer__items__social__link {
  margin-left: 4px;
}

.footer__items__social__link.facebook {
  background-color: #3a589d;
}
.footer__items__social__link.instagram {
  background-color: #3b6994;
}
.footer__items__social__link.tiktok {
  background-color: #111;
}
.footer__items__social__link.twitter {
  background-color: #2478ba;
}
.footer__items__social__link.youtube {
  background-color: #c33223;
}
