.album__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 60px 0;
}

.album__content .diplay__title,
.introduce__content .diplay__title {
  padding: 30px 0;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.album__list {
  display: flex;
  justify-content: space-between;
  /* padding: 30px 0; */
}

.album__items {
  position: relative;
  width: calc(100% / 3);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 10px;
  opacity: 0.6;
  border-left: 1px solid #dcacf3;
  border-right: 1px solid #dcacf3;
}

.album__items.active {
  margin: -20px 0;
  opacity: 1;
}

.album__items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album__items__btn {
  height: 45px;
  position: relative;
  margin-top: -50px;
  display: flex;
  width: 70%;
  background-color: #b49b9b;
  border-radius: 40px;
  padding: 4px 0;
  cursor: pointer;
  transform: translateY(-30px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.album__items__btn::before {
  position: absolute;
  content: "";
  width: 100%;
  aspect-ratio: 1/1;
  animation: rotate 4s linear infinite;
  background: linear-gradient(90deg,
      rgba(204, 192, 0, 1) 0%,
      rgba(0, 204, 204, 1) 52%,
      rgba(204, 0, 204, 1) 100%);
}

.album__items__btn span {
  z-index: 2;
  text-align: center;
  background-color: white;
  line-height: 39px;
  width: calc(100% - 6px);
  border-radius: 40px;
  font-family: "SVN Poppins";
  font-weight: bold;
  vertical-align: middle;
  letter-spacing: 1px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }

  10% {
    scale: 1;
  }

  12% {
    scale: 0.8;
  }

  20% {
    scale: 1;
  }

  35% {
    scale: 1;
  }

  38% {
    scale: 0.8;
  }

  46% {
    scale: 1;
  }

  60% {
    scale: 1;
  }

  62% {
    scale: 0.8;
  }

  70% {
    scale: 1;
  }

  84% {
    scale: 1;
  }

  87% {
    scale: 0.8;
  }

  95% {
    scale: 1;
  }

  100% {
    transform: rotate(360deg);
    scale: 1;
  }
}

/* introduce__content__row */
.introduce__content__row {
  display: flex;
}

.diplay__content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  padding: 30px 15px;

  /* .diplay__title{
    padding-bottom: 0;
   } */
}

.introduce__content__row {
  padding: 0 6px;
}

.introduce .diplay__title {
  margin-bottom: 10px;
  padding-bottom: 30px;
}

.introduce__content__row img,
.introduce__left {
  width: 50%;
  height: 100%;
}

.introduce__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
}

.diplay__text {
  line-height: 26px;
}

.diplay__text span {
  color: #b407ce;
  font-weight: 600;
}

.introduce__left button {
  display: flex;
  text-align: center;
  margin-top: 30px;
  padding: 8px 14px 6px;
  font-weight: 600;
  font-size: 1.5rem;
  color: #b407ce;
  background: linear-gradient(135deg, #fce6f7, #d5d0f0);
  border-radius: 20px;
  outline: none;
  border: none;
}

.introduce__left button:hover {
  color: #fff;
  background-color: #333;
  border-color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}

/* product-information */

.container__nav {
  display: flex;
  width: 100%;
  padding: 0 15px;
  justify-content: center;
  color: rgba(102, 102, 102, 0.7);
  font-weight: 400;
  margin: 20px 0;
}

.container__nav span+span {
  margin-left: 6px;
}

.product--infor--wrapp {
  display: flex;
  margin-top: 32px;
  padding: 0 15px;
}

.product__infor__images {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40%;
  padding-right: 30px;
  border-radius: 4px;
}

.product__infor__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__infor {
  width: 60%;
  padding-left: 30px;
}

.product__infor img {
  width: 60px;
}

.product__infor__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.sold {
  flex: 1 0 fit-content;
}

.product__infor__col {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.product__infor__select--type {
  color: #222;
  font-weight: 600;
}

.product__infor__select--type span {
  font-weight: 500;
  margin-left: 4px;
}

.product__infor__col__list {
  display: flex;
}

.product__infor__col__list img {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  cursor: pointer;
}

.product__infor__select--type {
  margin-bottom: 6px;
}

.product__infor__col__list__size {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #bbb;
  font-size: 1.8rem;
  cursor: pointer;
  border-radius: 4px;

  /* display: inline-block;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px; */
}


.product__infor__col__list__size+.product__infor__col__list__size {
  margin-left: 12px;
}

.product__infor__col__list__size input[type="radio"] {
  display: none;
}

.product__infor__col__list__size span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.product__infor__col__list__size input[type="radio"]:checked+span {
  background-color: #000;
  color: white;
}

.product__infor__col__list__input {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #ddd;
}

.product__infor__col__list__input span {
  padding: 0 8px;
  cursor: pointer;
}

.product__infor__col__list__input input {
  text-align: center;
  max-width: 100px;
  padding: 0 8px;
  outline: none;
  border: none;
  font-size: 1.6rem;

}

.product__infor__col__list button {
  margin-left: 8px;
  padding: 0 8px;
  border: 1px solid #000;
  cursor: pointer;
  font-weight: bold;
}

.product__infor__col__list__btn--add {
  background-color: #fff;
}

.product__infor__col__list__btn--add:hover {
  background-color: #000;
  color: #fff;
}

.product__infor__col__list__btn--buy {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
  padding: 8px 12px;
  margin-left: 12px;
}

.product__infor__col__list__btn--buy:hover {
  color: #fff6f6;
}

/* product__infor__commit__items */

.product__infor__commit {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 40px 0 40px;
  background-color: #f7f7f7;
  margin-top: 20px;
  border-radius: 4px;
}

.product__infor__commit__items {
  display: flex;
  align-items: center;
  width: calc(100% / 3 - 20px);
  margin-bottom: 30px;
}

.product__infor__commit__items>div {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.product__infor__features,
.product__infor__detail {
  margin-top: 20px;
  font-size: 1.8rem;
}

.product__infor__features__title,
.product__infor__detail__title {
  display: flex;
  align-items: center;
  position: relative;
}

.product__infor__features__title::before,
.product__infor__detail__title::before {
  display: flex;
  content: "";
  height: 14px;
  width: 14px;
  background-color: purple;
  margin-right: 8px;
  margin-top: -2px;
}

.product__infor__features__list,
.product__infor__detail__item {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-top: 8px;
}

.product__infor__features__items {
  position: relative;
  display: flex;
  padding: 5px 0 5px 22px;
}

.product__infor__features__items::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 6px;
  aspect-ratio: 1/1;
  background-color: #800080;
  transform: rotate(45deg) translateY(-80%);
}

.product__infor__features__items__name {
  min-width: 100px;
  color: #000;
  font-weight: 600;
}

.product__infor__detail__item {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.product__infor__detail__item>span+span {
  margin-top: 12px;
}

.product__infor__detail__item__text span {
  color: #b407ce;
  font-weight: 600;
}

/* cart page */
.container__cart {
  display: flex;
  margin-top: 20px;
}

.container__cart__table {
  width: 70%;
  border-collapse: collapse;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 8px 8px 12px 2px #ddd;
}

table,
tr {
  border: 1px solid #ddd;
}

.container__cart__table__col {
  padding: 10px;
  text-align: center;
}

.container__cart__table__col>.price {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container__cart__table__col>.price i {
  position: relative !important;
  margin-left: 4px;
}

tr td.container__cart__table__col:nth-child(1) {
  width: 10%;
}

.container__cart__table__col.start {
  text-align: start;
}

.container__cart__table__col .col {
  display: flex;
  flex-direction: column;
}

.container__cart__table__col img {
  height: 124px;
  width: 82px;
  object-fit: cover;
}

.container__cart__table__col__name {
  font-size: 1.6rem;
  color: #b407ce;
}

.container__cart__table__col__text {
  color: #939393;
  font-size: 1.4rem;
  margin-top: 2px;
}

.container__cart__table__col {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.container__cart__table__col__input {
  display: inline-flex;
  justify-content: center;
  border: 1px solid #ddd;
  /* width: 50%; */
  border-radius: 4px;
}

.container__cart__table__col input {
  width: 30px;
  outline: none;
  /* border: none; */
  border: 1px solid #ddd;
  border-top: none;
  border-bottom: none;
  text-align: center;
}

.container__cart__table__col__input span {
  padding: 0 8px;
}

.container__cart__table__col__input span:hover {
  background-color: #ddd;
}

.container__cart__table__col__total {
  text-decoration: line-through;
}

.fa-solid.fa-trash {
  position: absolute;
  bottom: 10%;
  right: 10%;
  color: #929292;
  cursor: pointer;
}

.fa-solid.fa-trash:hover {
  opacity: 0.8;
}

.container__cart__confirm {
  display: flex;

  flex-direction: column;
  margin-left: 22px;
  width: 30%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 8px 8px 12px 2px #ddd;
}

.container__cart__confirm__noti {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #b407ce;
  color: #fff;
  width: 100%;
  padding: 8px 0;
}

.container__cart__confirm__box {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container__cart__confirm__row {
  display: flex;
  justify-content: space-between;
  color: #000;
}

.container__cart__confirm__row span {
  display: inline-block;
}

.container__cart__confirm__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 10px 0;
  outline: none;
  border: none;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #fff;
  background-color: #b407ce;
  cursor: pointer;
}

/* payment page */

.container__pay {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  border-top: 1px solid #ddd;
}

.container__pay img {
  width: 128px;
}

.container__pay__infor {
  flex: 7;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}

h2.container__pay__infor__title {
  margin-bottom: 20px;
}

.container__pay__infor__title,
.pay__infor__address__title {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.container__pay__infor__title img,
.pay__infor__address__title img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.container__pay__infor__count {
  margin: 10px;
  display: none;
}

.container__pay__box {
  display: flex;
}

.container__pay__infor__products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: -10px;
  height: 100%;
  /* max-height: 376px;
  overflow-y: auto; */
}

.container__pay__infor__products {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container__pay__infor__products::-webkit-scrollbar {
  display: none;
}

.container__pay__infor__items {
  display: flex;
  align-items: center;
  border-radius: 10px;
  flex: 1 0 calc(100% - 20px);
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  /* box-shadow: 0 0 10px #0000000a; */

  img {
    border: 1px solid #ddd;
    border-radius: 8px;
    aspect-ratio: 1/1;
    height: 100%;
    object-fit: cover;
  }
}

.container__pay__infor__items__in4 {
  margin-left: 20px;
}

.container__pay__infor__items__in4__title {
  font-weight: bold;
}

.container__pay__infor__items__row {
  display: flex;
  color: #666;
  font-size: 14px;
  margin-top: 4px;
}

.container__pay__infor__items .container__pay__infor__items__row:first-child {
  display: none;
}

.container__pay__infor__items__row>span:first-child {
  color: #555;
}

.container__pay__infor__items__row>span:last-child {
  margin-left: 8px;
}

.container__pay__infor__items__row__price {
  margin-left: 8px;
}

.container__pay__infor__items__row__price>span:first-child {
  color: red;
  font-weight: 600;
  margin-right: 8px;
  font-size: 14px;
}

.old-price {
  margin-right: 8px;
  text-decoration: line-through;
}

.container__pay__infor__address {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

/* .pay__infor__address__title {
} */

.container__pay__infor__address__row {
  display: flex;
  margin-top: 0px;
}

.container__pay__infor__address__col {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.container__pay__infor__address__col+.container__pay__infor__address__col {
  padding-left: 20px;
}

.container__pay__infor__address__col input {
  padding: 6px 8px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 4px;
}

.container__pay__confirm {
  flex: 3;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: #f2dfff9a;

  button,
  input {
    border: unset;
  }
}

.container__pay__confirm__discount,
.container__pay__confirm__way {
  display: flex;
  flex-direction: column;
}

.container__pay__confirm>div,
.container__pay__confirm>span {
  margin-top: 10px;
}

.container__cart__confirm__information {

  .container__cart__confirm__row {
    padding-top: 10px;

    span:nth-child(2) {
      font-weight: bold;
    }
  }
}

.container__pay__confirm__discount__title {
  font-weight: 600;
  margin: 10px 0 15px 0;
}

.container__pay__confirm__discount input[type="text"] {
  padding: 10px 12px;
  font-size: 1.6rem;
  border-radius: 4px;
  margin-top: 12px;
}

.container__pay__confirm__discount__btn,
.container__pay__confirm__order-btn {
  padding: 10px 0 8px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 12px;
}

.container__pay__confirm__discount__btn {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  background-color: #000;

}

.container__pay__confirm__discount__btn:hover {
  background-color: #000;
  color: #fff;
}

.container__pay__confirm__order-btn {
  color: #fff;
  background-color: black;
  cursor: pointer;
}

.container__pay__confirm button:hover {
  opacity: .8;
}


.container__pay__confirm__way label {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

input[name="way-pay"] {
  margin-right: 5px;
  color: #b407ce;
}

.container__pay__confirm__order-btn {
  padding: 10px 0 8px;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 4px;
  margin-top: 12px;

}

.container__pay__confirm__notif {
  font-size: 14px;
  font-style: italic;
  text-align: justify;
}